extends ../layout
block content
  h1 Human List
  table
    thead
      tr
        th Name
        th Hobby
    tbody
      each person in humans
        tr
          td= person.humanname
          td= person.freetime
